<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
        <div class="header-container d-flex align-items-center justify-content-between">
            <div class="logo">
                <h1 class="text-light"><a href=""><span>Control Ventas</span></a></h1>
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="">Inicio</a></li>
                    <li><a class="nav-link scrollto" href="https://github.com/AlmendroHub">GitHub</a></li>
                    <li><a class="nav-link scrollto" href="https://www.linkedin.com/in/pablo-almendro-322488209/">Linkedln</a></li>
                    <li class="dropdown">
                        <a href="#"><span>Listado</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="#">Listado 1</a></li>
                            <li class="dropdown">
                                <a href="#"><span>Listado 2</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Listado 2.1</a></li>
                                    <li><a href="#">Listado 2.3</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a class="getstarted scrollto" href="https://www.linkedin.com/in/pablo-almendro-322488209/">Contacto</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div><!-- End Header Container -->
    </div>
</header><!-- End Header -->